# KUNCI API AI
DEEPSEEK_API_KEY=your_deepseek_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here

# TELEGRAM BOT TOKEN
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID_DOKTER=

# WHACENTER DEVICE KEYS
WA_DYLAN=your_wa_dylan_device_id
WA_NAFILA=your_wa_nafila_device_id

# GOOGLE SPREADSHEET ID & SERVICE ACCOUNT CREDENTIALS
SPREADSHEET_ID=1FkuO3Ix04dFWriI3Q-65HZQjUMOiPwgjmrpQKobO9q4
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# NOMOR HP OPERASIONAL
NOMOR_DOKTER=6281291868456
NOMOR_KLINIK=081398169819
NOMOR_CASMIX_MAK_SRI=6282216368421
PORT=3000
